<form (submit)="onSetSpeed($event, speedInput.value)">
  <input
    #speedInput
    type="number"
    name="speed"
    id="speed"
    placeholder="Game speed (ms)"
  />
  <button type="submit">Set</button>
</form>

<button (click)="onToggle()" type="button">Toggle</button>

<div class="game">
  <div
    *ngFor="let i of gameSize * gameSize | range"
    [class.game__tile--snake]="isSnake(i, snakeSignal())"
    [class.game__tile--coin]="isCoin(i, coinsSignal())"
    class="game__tile"
  ></div>
</div>
