.game {
  $game-size: 80vh;
  $tile-count: 11;

  width: $game-size;
  height: $game-size;
  display: grid;
  margin: 5vh auto;
  gap: 0.5rem;
  grid-template-columns: repeat($tile-count, 1fr);
  grid-template-rows: repeat($tile-count, 1fr);

  &__tile {
    background: rgb(216, 216, 216);
    border-radius: 0.3rem;

    &--snake {
      background: rgb(105, 224, 46) !important;
    }

    &--coin {
      background: rgb(255, 221, 0);
    }
  }
}
